* {

    padding: 0;
    margin: 0;

}

@media(max-width:500px) {
    body {
        background-image: url(stars.jpeg);
        overflow: hidden;
    }

    .img {
        width: 103vw;
        height: 110vh;
        object-fit: contain;
        position: absolute;
        object-position: bottom;

    }

    .box {
        
        text-align: center;
        color: aliceblue;
        position: relative;
        height: 60px;
        width: 70px;
        background-color: black;
        flex-shrink: 0;

    }
    h1{
        font-size: 20px;
        position: relative;
        top: 38px;
    }
    .box_1 {
        height: 150px;
        width: 145px;
        top: 20vh;
        left: 9.6vw;
        border-radius: 50%;
    }

    .box_2 {
        height: 116px;
        width: 120px;
        top: 32vh;
        left: 5vw;
        border-radius: 50%;
    }

    .box_3 {
        height: 116px;
        width: 120px;
        top: 42vh;
        left: 8vw;
        border-radius: 50%;
    }

    .box_4 {
        height: 116px;
        width: 120px;
        top: -28vh;
        left: 64vw;
        border-radius: 50%;
    }

    .box_5 {
        height: 116px;
        width: 120px;
        top: -15vh;
        left: 64vw;
        border-radius: 50%;
    }
    .cake{
        height: 152px;
        width: 145px;
        border-radius: 50%;
    }
    .N{
        position: relative;
        padding: 20px;
    }
    .name{
        position: relative;
        color: rgb(105, 100, 100);
        text-align: right;
        font-size: 30px;
    }
    ul{
        display: flex;
        gap: 30px;
        
    }
    ul li{
        position: relative;
        left: -4vw;
        top: 7.5px;
    }
    li{
        list-style: none;
    }
    nav{
        position: relative;
        top: 1.5vh;
        left: 10vw;
        background-color: rgba(0, 255, 255, 0.303);
        height: 5vh;
        width: 80vw;
        border-radius: 10px;
    }
    .but{
        width: 60px;
        border-radius: 30px ;
        background-color: aqua;
        border-color: brown;
        box-shadow: 0 0 30px 5px aqua;
    }
    .logo{
        aspect-ratio: 4/4;
        width: 15%;
        position: relative;
        top: -5px;
        left: 8vw;
        border-radius: 50%;
        box-shadow: 0 0 35px 5px white;
    }
}
