
* {

    padding: 0;
    margin: 0;

}

@media(max-width:500px) {
    body {
        background-image: url(stars.jpeg);
        overflow: hidden;
        background-size: contain;
        
    }

    

    .box {
        
        text-align: center;
        color: aliceblue;
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        

    }
    
    h1{
        font-size: 20px;
        position: relative;
        
    }
    
    .cake{
        position: relative;
        aspect-ratio: 5/5;
        width: 30%;
        top: 4vh;
        left: -90px;
        border-radius: 50%;
    }
    .box_2{
        background-color: black;
        aspect-ratio: 5/3;
        width: 30%;
        text-align: center;
        align-items: center;
        border-radius: 25px;
        position: relative;
        left: 60vw;
        top: -60px;
    }
    .box_3{
        background-color: black;
        aspect-ratio: 5/3;
        width: 30%;
        text-align: center;
        align-items: center;
        border-radius: 25px;
        position: relative;
        left: 60vw;
        top: -10px;
    }
    .box_4{
        background-color: black;
        aspect-ratio: 5/3;
        width: 30%;
        text-align: center;
        align-items: center;
        border-radius: 25px;
        position: relative;
        left: 10vw;
        top: -10px;
    }
    .box_5{
        background-color: black;
        aspect-ratio: 5/3;
        width: 30%;
        text-align: center;
        align-items: center;
        border-radius: 25px;
        position: relative;
        left: 50vw;
        top: 40px;
    }
    .N{
        position: relative;
        padding: 20px;
    }
    .name{
        position: relative;
        color: rgb(105, 100, 100);
        text-align: right;
        font-size: 30px;
    }
    ul{
        display: flex;
        gap: 30px;
        
    }
    ul li{
        position: relative;
        left: -4vw;
        top: 7.5px;
    }
    li{
        list-style: none;
    }
    nav{
        position: relative;
        top: 1.5vh;
        left: 10vw;
        background-color: rgba(0, 255, 255, 0.303);
        height: 5vh;
        width: 80vw;
        border-radius: 10px;
    }
    .but{
        width: 60px;
        border-radius: 30px ;
        background-color: aqua;
        border-color: brown;
        box-shadow: 0 0 30px 5px aqua;
    }
    .logo{
        aspect-ratio: 4/4;
        width: 15%;
        position: relative;
        top: -5px;
        left: 8vw;
        border-radius: 50%;
        box-shadow: 0 0 35px 5px white;
    }
}
